.linkButton {
    background: none;
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700;
    line-height: 23px;
    box-shadow: 0 0 0  #FFF;;
}

.linkButton:hover {
    background: none;
    background-color: black;
}